body{
    font-family: "Roboto", sans-serif;
    text-align: center;
}

h1{
    font-size: 50px;
    font-weight: 200;
}

h2{
    font-size: 25px;
    font-weight: 300;
}

input{
    font-size: 20px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 102, 255);
    background-color: rgba(240, 248, 255, 0);
    margin: 2px;
}

button{
    font-size: 20px;
    padding: 20px 20px;
    color: white;
    background-color: rgb(0, 102, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 102, 255);
    border-radius: 10px;
    transition: 0.2s;
}

button:hover{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(0, 102, 255);
}
select{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: white;
    background-color: rgb(0, 102, 255);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(0, 102, 255);
    border-radius: 10px;
    transition: 0.2s;
}
select:hover{
    background-color: rgba(240, 248, 255, 0);
    color: rgb(0, 102, 255);
}
#list{
    margin-right: 30%;
    margin-left: 30%;
}

.cssTitle{
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 450px) {
    #list{
        margin-left: auto;
        margin-right: auto;
    }
}